*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: rgb(51, 51, 51);
}
button{
    width: 150px;
    height: 60px;
    border-radius: 15px;
    background-color: black;
    color: white;
    border: 1px solid white;
}
.top{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(0, 0, 0);
}
.top-right-button{
    height: 100%;
    width: 10vw;
    margin-left: 20px;
    
    border: none;
}
.top-left-button{
    height: 100%;
    width: 10vw;
    font-size: 20px;
    margin-right: 20px;
    border: none;
    background-color: black;
    border-radius: 0 20px 20px 0;
    color: white;
    border: 1px solid white;

}
.main-search{
    height: 120px;
    margin-top: 20px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    color: white;

}
.main-search1{
    height: 400px;
    margin-top: 20px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
   
    justify-content: center;
    align-items: center;
    color: white;
}
input[type=submit]{
    width: 150px;
    height: 60px;
    border-radius: 15px;
    background-color: black;
    color: white;
    border: 1px solid white;
}
input[type=text]{
    
    background-color: rgb(255, 255, 255);
    
}
#content-title{
    width: 400px;
    height: 40px;
    border: 1px rgb(0, 255, 200) solid;
    border-radius: 20px;
    
}
#content-title1{
    width: 400px;
    height: 40px;
    border: 1px rgb(0, 255, 200) solid;
    border-radius: 20px;
    
}
#content-title2{
    width: 400px;
    height: 40px;
    border: 1px rgb(0, 255, 200) solid;
    border-radius: 20px;
    
}
.text{
    padding-left: 20px;
    
}
#prev{
    font-size: 20px;
}
#next{
    font-size: 20px;
}
#register{
    font-size: 20px;
}
#login{
    font-size: 20px;
}
#find-title{
    font-size: 18px;
    width: 150px;
    height: 60px;
    color: white;
    border: 1px greenyellow solid;
    background-color: black;
    border-radius: 20px;
}
#find-user{
    font-size: 18px;
}
#password{
    width: 400px;
    height: 40px;
    border: 1px rgb(0, 255, 200) solid;
    border-radius: 20px;
}
#nickname{
    width: 400px;
    height: 40px;
    border: 1px rgb(0, 255, 200) solid;
    border-radius: 20px;
}
#find-actor{
    font-size: 18px;
    width: 150px;
    height: 60px;
    color: white;
    border: 1px rgb(255, 47, 47) solid;
    background-color: black;
    border-radius: 20px;
}


.main-result{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
}
.result-item{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px 20px 0 20px;
    margin:10px 0;
}
.result-item1{
    height: 80px;
    width: 600px;
    display: flex;
    background-color: rgb(27, 27, 27);
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin:10px 0;
    padding-left: 20px;
}
.result-item2{
    
    width: 600px;
    display: flex;
    
    background-color: rgb(27, 27, 27);
    justify-content: space-between;
    align-items:start;
    border-radius:  0 0 20px 20px;
    padding: 20px 20px;
    margin-bottom: 20px;
    color: white;
}
.year{
    font-size: 20px;
}
.result-item2 ul{
    list-style-type: none;
    
}
.closed{
    display: none;
}
.title{
    height: 80px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    
}
.add{
    width: 60px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 1px solid greenyellow;

}

.toggle{
    width: 600px;
    height: 30px;
    border-radius: 10px 10px 0 0;
    border:1px solid white;
    background-color: black;
    color: white;


}

#button1{
    background-color: black;
    border-radius: 20px;
    border:1px solid rgb(255, 255, 255);
    color: white;
    font-size: 20px;
}


#button2{
    background-color: black;
    border-radius: 20px 0 0 20px;
    border:1px solid rgb(255, 255, 255);
    color: white;
    font-size: 20px;
}
#button3{
    background-color: black;
    border-radius: 20px;
    border:1px solid rgb(255, 255, 255);
    color: white;
    font-size: 20px;
}
#Toggle-search{
    font-size: 20px;
    position: absolute;
    top:100px;
    left:0;
    height: 120px;
    background-color: black;
    border-radius: 0 20px 20px 0;
    color: white;
    width: 180px;
    border: 1px solid white;
    
}
.green{
    color: greenyellow;
}
.red{
    color: rgb(255, 47, 47);
}
h2{
    color:white;
}
.actors{
    
    height: 300px;
    overflow-y: scroll;
    font-size: 20px;
}
.actors label{
    
    margin-left: 20px;
}
.genres{
    height: 300px;
    overflow-y: scroll;
}
.genres label{
    margin-left: 20px;
}
.forbiden{
    text-align: center;
    color: white;
}

.main-search1{
    border-radius: 50px;
}
.categ{
    color: darksalmon;
}
#categ_form{
    font-size: 20px;
}
.pagination{
    width: 200px;
    height: 50px;
    display: flex;

}
.pagination button{
    width: 100px;
    height: 50px;
    
    background-color: rgb(0, 0, 0);
}
.remove{
    border-color:crimson;
}
.delete{
    border-color:crimson;
}
.delete_actor{
    font-size: 20px;
    width:15vw;
    margin-top: 10px;
}
.delete_genre{
    font-size: 20px;
    width:15vw;
    margin-top: 10px;
}
.main_create_genre{
    height: 100px;
    width: 100%;
}
.main_create_actor{
    height: 100px;
    width: 100%;
}
#Create_actor_button{
    font-size: 18px;
}
#Create_genre_button{
    font-size: 18px;
}
#Create_title{
    font-size: 18px;
    width: 250px;
    height: 40px;
    border: 1px rgb(0, 255, 200) solid;
    border-radius: 20px; 
}
#categories{
    font-size: 20px;
    margin-bottom: 20px;
}
#categories label{
    margin-left: 20px;
}
#genres{
    font-size: 20px;
    margin-bottom: 20px;
}
#genres label{
    margin-left: 20px;
}
.genres{
    font-size: 20px;
    margin-bottom: 20px;
}
#Create_year{
    font-size: 18px;
    width: 250px;
    height: 40px;
    border: 1px rgb(0, 255, 200) solid;
    border-radius: 20px; 
}
#Create_button{
    font-size: 20px;
    width: 100%;
}
#Actor_name{
    font-size: 18px;
    width: 250px;
    height: 40px;
    border: 1px rgb(0, 255, 200) solid;
    border-radius: 20px;
}
#Actor_year{
    font-size: 18px;
    width: 150px;
    height: 40px;
    border: 1px rgb(0, 255, 200) solid;
    border-radius: 20px;
}
#Genre_name{
    font-size: 18px;
    width: 250px;
    height: 40px;
    border: 1px rgb(0, 255, 200) solid;
    border-radius: 20px;
}
#Creates{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#all_actors{
    
    color: white;
    height: 500px;
    overflow-y: scroll;

}
#all_actors li{
    width:15vw;
    font-size: 20px;
    height: 80px;
    margin-bottom: 20px;
}
#all_genres li{
    width:15vw;
    font-size: 20px;
    height: 80px;
    margin-bottom: 20px;
}

#all_actors button{
    height: fit-content;
    margin-bottom: 20px;
    

}
#all_genres button{
    height: fit-content;
    margin-bottom: 20px;
    

}
#all_genres{
    
    color: white;
    height: 500px;
    overflow-y: scroll;
}
.main_pagin{
    display: flex;
    justify-content: center;
}
.main{
    
    background-color: black;
    height: 120px;
}
.main-search{
    padding-left: 170px;
}
#unlog{
    margin-right: 170px;
}
#main-cre{
    height: 700px;
    padding-left: 20vw;
    padding-right: 20vw;
}


